.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.vscodeignore
tsconfig.json
vsc-extension-quickstart.md
implementation_plan.md
walkthrough.md
**/*.map
node_modules/**
!node_modules/@vscode/codicons/**
!README.md
!CHANGELOG.md
